<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="mt-2">
                <h2 class="text-center">Add New Trainee</h2>
            </div>

            
                <form #traineeform="ngForm"  (ngSubmit)="OnSubmit(traineeform)">
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your Id</mat-label>
                        <input matInput #tid="ngModel" name="tid" required [(ngModel)]="traineeobj.id">
                    </mat-form-field>

                    <p class="text-danger" *ngIf="tid.dirty && tid.errors?.['required']">Id should not be empty</p>

                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your Name</mat-label>
                        <input matInput #tname="ngModel" name="tname" required [(ngModel)]="traineeobj.name">
                    </mat-form-field>

                    <p class="text-danger" *ngIf="tname.dirty && tname.errors?.['required']">Name should not be empty</p>

                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your Stream</mat-label>
                        <input matInput required  name="tstream" #tstream="ngModel" [(ngModel)]="traineeobj.stream">
                    </mat-form-field>

                    <p class="text-danger" *ngIf="tstream.dirty && tstream.errors?.['required']">Stream should not be empty</p>

                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your Score</mat-label>
                        <input matInput required name="tscore" #tscore="ngModel" [(ngModel)]="traineeobj.score">
                    </mat-form-field>

                    <p class="text-danger" *ngIf="tscore.dirty && tscore.errors?.['required']">Score should not be empty</p>

                    <button mat-raised-button color="primary">Save</button>
                </form>
            

        </div>
    </div>
</div>