<p>home works!</p>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/Home/sub1" >Sub1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home/sub2">sub2</a>
      </li>
     
     
    </ul>
  </div>
</nav>

  <router-outlet></router-outlet>
