<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="mt-2">
                <h2 class="text-center">Login</h2>
            </div>
            <form  (ngSubmit)="OnSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput [formControl]="username" id="username">
                </mat-form-field>

                <p class="text-danger" *ngIf="username.dirty && username.invalid">Username is required</p>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="password" id="password">
                </mat-form-field>

                <p class="text-danger" *ngIf="password.dirty && password.invalid">Password is required</p>

                <button mat-raised-button color="primary">Login</button>
            </form>
        </div>
    </div>
</div>