

<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="mt-2">
        <input type="text" name="" id="" [(ngModel)]="trainee.id" placeholder="Enter id">
    </div>
    <div class="mt-2">
        <input type="text" name="" id="" [(ngModel)]="trainee.name" placeholder="Enter Name">
    </div>
    <div class="mt-2">
        <input type="text" name="" id="" [(ngModel)]="trainee.stream" placeholder="Enter Stream">
    </div>
        <div class="mt-2">
        <input type="text" name="" id="" [(ngModel)]="trainee.score" placeholder="Enter score">
    </div>
    <div class="row">
        

        <button class="btn btn-primary mt-2" (click) ="AddTrainee()">Save</button>
        <button class="btn btn-secondary mt-2" (click) ="UpdateTrainee()">Update</button>
    
</div>


      </div>
 </div>
      








        <div class="row mt-3">
        <div class="col-md-4" *ngFor="let t of traineeslist">

            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                    <i class="fa-solid fa-pen text-warning" (click)="GetTraineeById(t.id)"></i> 
                    <i class="fa-solid fa-trash text-danger float-end" (click)="DeleteTrainee(t.id)"></i> 
                  <h5 class="card-title">{{t.name}}</h5>
                  <p class="card-text">{{t.stream}}</p>
                  <p class="card-text">{{t.score}}</p>
                  
                 
                </div>
              </div>


        </div>
    </div>
</div>
