
<!-- This is interploation -one way binding -->
<p>THis is one way binding using interpolation {{Name}}</p>
<!-- this is property binding - one way binding -->
<input type="text" placeholder="try to enter something" [disabled]="IsDisabled"/>
<!-- THis is style binding - one way binding -->
<h4 [style.color]="colorname">THis is done by using style binding</h4>
<!-- this is class binding - one way binding -->
<h3 [class.text-warning]="applystyle">This is done by using class binding</h3>



<input #mydesig type="text" placeholder="enetr ur designation"/>
<!-- This is Event binding one way binding from view to model -->
<button (click)="Display(mydesig.value)">Click me</button>


<!-- this is 2 way binding from model to view and view to model -->
<input type="text" placeholder="Enter ur Native" [(ngModel)]="myNative"/>

<p>My native is {{myNative}}</p>
