

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor="let p of posts">

            <div class="card" style="width: 18rem;">
                <!-- <img src="{{p.image}}" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <img src="{{p.image}}">
                  <h5 class="card-title">{{p.likes}}</h5>
                  <p class="card-text">{{p.publishDate | date:'fullDate'}}</p>
                  
                  
                </div>
              </div>


        </div>
    </div>
</div>