<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TMS</span>
    <a routerLink="/Home" mat-icon-button class="">Home</a>
    <a routerLink="/AddTrainee" mat-icon-button class="px-4">AddTrainee</a>
    <span class="example-spacer"></span>
    <a routerLink="/Register" mat-icon-button class="mx-5">Register</a>
    <a routerLink="/Login" mat-icon-button class="mx-8">Login</a>

</mat-toolbar>