<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Aboutus">Aboutus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contactus">Contactus</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>