<h2>Pipe Demos</h2>


<!-- Pipe Syntax -->
<!-- {{data | pipename : param1 : param2}} -->
<div> Date Pipe : {{today| date : 'dd/MM/YY'}}
    {{today|date:'fullDate'}}
</div>

<div>
    Number Pipes : {{score| number:"2.2-3"}}
</div>

<div>
    Percent Pipes : {{markperc | percent: '2.0-2'}}
</div>

<div>
    Currency Pipes : {{salary|currency :"INR"}}
</div>

<div>
    String Pipe: {{myname|uppercase}}
</div>

<div>
    json pipe : {{myjsondata | json|uppercase}}
</div>


<div>
    custom pipe : {{ussalary | custompipe:'*' }}
</div>
