<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="mt-2">
                <h2 class="text-center">Register</h2>
            </div>
            <form  [formGroup]="registerform" (ngSubmit)="OnSubmit()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Firstname</mat-label>
                    <input matInput  formControlName="firstname" >
                </mat-form-field>

                 <p class="text-danger" *ngIf="firstname.dirty && firstname.invalid">Firstname is required</p> 

                <mat-form-field class="example-full-width">
                    <mat-label>Lastname</mat-label>
                    <input  matInput  formControlName="lastname">
                </mat-form-field>

                <p class="text-danger" *ngIf="lastname.dirty && lastname.invalid">Lastname is required</p>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input  matInput formControlName="email" >
                </mat-form-field>

                <p class="text-danger" *ngIf="email.dirty && email.invalid">Email is required</p>

                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input  matInput formControlName="city" >
                </mat-form-field>

                <p class="text-danger" *ngIf="city.dirty && city.invalid">City is required</p>

                <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input  matInput formControlName="age">
                </mat-form-field>

                <p class="text-danger" *ngIf="age.dirty && age.invalid">Age is required</p>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input  type="password" matInput formControlName="password" >
                </mat-form-field>

                <p class="text-danger" *ngIf="password.dirty && password.invalid">Password is required</p>

                <button mat-raised-button color="primary">Sign up</button>
            </form>
        </div>
    </div>
</div>