<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let t of trainees">

            <mat-card class="example-card mt-3">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{t.tscore}}</mat-card-title>
                  <mat-card-subtitle>{{t.tname}}</mat-card-subtitle>
                </mat-card-header>
               
                <mat-card-content>
                  <p>
                    {{t.tstream}}
                  </p>
                  <p>
                    {{t.id}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              


        </div>
    </div>
</div>