

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor="let u of users" >
            
<div class="card" style="width: 18rem;" >
   
    <div class="card-body">
      <h5 class="card-title">{{u.name}}</h5>
      <p class="card-text">{{u.email}}</p>
      <p class="card-text">{{u.address.city}}</p>
      <p class="card-text">{{u.phone}}</p>
      <p class="card-text">{{u.website}}</p>
     </div>
  </div>
        </div>
    </div>
</div>