<h1 [ngClass]="{'text-primary':isHighlighted}"> Attribute Directive Demo</h1>


<p [ngStyle]="{'color':textcolor, 'font-size':fontsize}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus enim, asperiores ullam, incidunt ad reprehenderit qui, repellendus excepturi aut impedit neque libero corporis laboriosam dolores officia nam nemo laudantium.</p>

<input type="text" [ngModel]="myname" placeholder="Enter ur name"/>

<h2 appCustomhighlight>This is to check custom directice</h2>