<app-header></app-header>

<!-- <my-first></my-first> -->
<!-- <app-structdrctve></app-structdrctve> -->
<!-- <app-attrdirctve></app-attrdirctve> -->
<!-- <app-databindingdemo></app-databindingdemo> -->
<app-pipedemo></app-pipedemo>


